body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #D9D9D9;
    color: #000;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    text-align: center;
}
header p:nth-child(1) {
    margin-left: 40px;
    font-size: 17px;
    cursor: pointer;
    text-align: center;
}

header p:nth-child(2) {
    margin-left: 140px;
    font-size: 17px;
    cursor: pointer;
    color: #a7a7a7;
}





button {
    background-color: #fff;
    border: 5px solid #4CAF50; 
    color: #4CAF50;
    padding: 0.5rem 1rem;
    cursor: pointer;
    width: 150px;
    height: 180px;
    font-size: 30px;
    border-radius: 10px;
}

.urlStatus{
    background-color: #fff;
    border: 5px solid #4CAF50; 
    padding: 0.5rem 1rem;
    width: 108px;
    height: 155px;
    font-size: 30px;
    border-radius: 10px;
    display: grid;
}

.urlStatus p:first-child{
    color: #a3a3a3;
    font-size: 35px;
    text-align: center;

}

.urlStatus a{
    color: rgb(121, 121, 121);
    font-size: 13px;
    position: relative;
    text-align: center;

}



.down {
    border-color: #ff1d1d; 
}


main {
    width: 70%;
    position: relative;
    padding: 2rem 0 0 4.7rem;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

main h2 {
    margin-bottom: 1rem;
}

footer {
    background-color: #D9D9D9;
    color: #797979;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 20px;
}

footer a{
    color: #797979;
}

#overlay { 
    position: fixed; 
    display: none; 
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background-color: rgba(0,0,0,0.5); 
    z-index: 2; 
}

#modal { 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    font-size: 20px; 
    color: white; 
    transform: translate(-50%,-50%); 
    -ms-transform: translate(-50%,-50%); 
    background-color: #f1f1f1; 
    padding: 20px; 
    border: 1px solid #888; 
    width: 30%; 
    height: auto; 
    border-radius: 10px; 
}

#modal p { 
    text-align: center; 
    margin-bottom: 20px; 
    color: #656565;
}

#modal form { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    color: #656565;

}

#modal label { 
    margin-bottom: 10px; 
}

#modal input[type="text"], 
#modal input[type="number"] { 
    width: 80%; 
    padding: 5px; 
    margin-bottom: 20px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
}

#modal button[type="submit"] { 
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    width: 85%; 
    height: 30px;
    font-size: 15px;
}

#modal button[type="submit"]:hover { 
    background-color: #45a049; 
}


/* Estilos para tablets */
@media only screen and (max-width: 768px) {
    header {
        display: block;
        height: 100px;
        min-width: 368px;

    }

    footer{
        min-width: 368px;
    }







    main {
        width: 70%;
        position: relative;
        padding: 2rem 0 0 1.8rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }

    .urlStatus{
        min-width: 40px;
    }

    #modal {
    width: 60%;
    }
}
